 <div class="user-details">
  <h1 class="h1-about"> About Me</h1>
  <hr class="hr-horizontal">
  <p> {{site.user_description}} </p>
  <p> {{site.user_description2}} </p>
  <p> {{site.user_description3}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Programming</h2>
      <i class="devicon-java-plain-wordmark colored"></i>
      <i class="devicon-c-plain-wordmark colored"></i>
      <i class="devicon-cplusplus-plain-wordmark colored"></i>
      <i class="devicon-html5-plain-wordmark colored"></i>
      <i class="devicon-css3-plain-wordmark colored"></i>
      <i class="devicon-javascript-plain colored"></i> 
      <i class="devicon-python-plain-wordmark colored"></i>
      <i class="devicon-mysql-plain-wordmark colored"></i>      
      <i class="devicon-mongodb-plain-wordmark colored"></i>
      <p>Java, C, C++, Python, HTML, CSS, JavaScript, SQL, KQL, MongoDB, PHP, bash, MATLAB</p>    
    </div>
    <div class="tech">
      <h2>Frameworks</h2>
      <i class="devicon-nodejs-plain-wordmark colored"></i>
      <i class="devicon-express-original-wordmark colored"></i>
      <i class="devicon-bootstrap-plain-wordmark colored"></i>
      <i class="devicon-jquery-plain-wordmark colored"></i>
      <i class="devicon-angularjs-plain-wordmark colored"></i>      
      <p>Bootstrap, Semantic UI, ANT, NodeJS, Express, EJS, DOM, Mongoose, jQuery, AngularJS</p>
    </div>
    <div class="tech">
      <h2>Tools</h2>
      <i class="devicon-git-plain-wordmark colored"></i>
      <i class="devicon-visualstudio-plain-wordmark colored"></i>
      <i class="devicon-amazonwebservices-plain-wordmark colored"></i>
      <i class="devicon-linux-plain colored"></i>
      <i class="devicon-devicon-plain"></i>
      <p>MS Azure Sentinel, Grafana, 
        git, <br> JUnit, RESTful Routing, 
        APIs, Postman, VS Code, 
        g++/gdb, AWS, Office 365, 
        phpMyAdmin, WireShark</p>
    </div>
</div>
