<div class="user-details">
    <h1 class="h1-contact"> Contact Details </h1>
    <hr class="hr-horizontal">
</div>

<div class="user-projects" style="text-align: center;">
    <h3 class="contact-deet"><i class="fa fa-phone-square" aria-hidden="true"></i> Mobile Number: +1 (682)-552-6513</h3>
    <h3 class="contact-deet"><i class="fa fa-envelope" aria-hidden="true"></i> Email Address: <a href="mailto:nihargupte2008@gmail.com">nihargupte2008@gmail.com</a></h3>
    <h3 class="contact-deet"><i class="fa fa-linkedin-square" aria-hidden="true"></i> LinkedIn: <a href="https://www.linkedin.com/in/nihargupte/" target="_blank"> @nihargupte</a></h3>
</div>