<div class="user-details">
    <h1 class="h1-education"> Education </h1>
    <hr class="hr-horizontal">
</div>

<div class="user-projects">
    <h2>Bachelor of Science in Computer Science</h2>
    <h3>The University of Texas at Arlington</h3>
    <h4>08/2017 - 05/2021</h4>
  
  
  <ul> 
    <li>
        Cumulative GPA: 4.00, Dean's List (Fall '18 to Spring '21)
    </li>
    <li>
        Certificate in Cyber Security
    </li>
    <li>
        Minor: Mathematics
    </li>
    <li>
        Courses Taken: Software Testing, Fundamentals of Software 
        Engineering, Algorithms and Data Structures, OOP, Secure
        Programming, Operating Systems, Database Systems, Computer
        Network Organization, Information Security, Wireless
        Networks and IoT, Artificial Intelligence
    </li>
  </ul>
</div>

<div class="user-projects">
    <h3>Google IT Support Professional Certificate, Coursera</h3>
    <h4>08/2020</h4>
</div>

<div class="user-projects">
    <h3>Web Developer Bootcamp by Colt Steele, Udemy</h3>
    <h4>07/2020</h4>
</div>

